.service-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  user-select: none;
}

.service {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  transition: background 0.2s linear;
  background: var(--gray-50);
}

.service.light {
  background: transparent;
  border: 1px solid rgba(247, 249, 255, 0.6);
  border-radius: 0.5rem;
}

.service:hover {
  /* background: var(--gray-100); */
}

.service.light:hover {
  background: transparent;
}

.service svg {
  margin-bottom: 3rem;
  height: 5rem;
  width: 5rem;
  fill: var(--blue-300);
}

.service h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray-700);
  margin-bottom: 2rem;
  width: 75%;
  margin-top: auto;
}

.service.light svg {
  fill: var(--white);
}

.service.light h3,
.service.light p {
  color: var(--white);
}
